* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;

}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow:auto;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    object-fit: contain; 
    filter: brightness(0.55); 
}

/* Navbar styling */
.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    position: fixed;
    width: 90%;
    margin: 10px 5%;
    top: 0;
    background: rgba(0, 0, 0, 0.5); /* Transparent background */
    padding: 20px 0;
    border-radius: 50px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.06);
    filter: brightness(2); 

}
.navbar:hover{
    transition: all 0.3s ease;
    width: 90%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgb(5,5,5);
    box-shadow: 0 0 50px rgb(5,5,5);    
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    background: linear-gradient(to right,#72d9ff, #5248ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin: 0 10px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding: 10px;
}

.navbar .nav-links a:hover {
    color: #85e2ff; /* Highlight color on hover */
    transition: all 0.3s ease;
    border-radius: 10px;
    text-shadow: 0 0 50px #ffffff;    
    text-shadow: 0 0 25px #ffffff;    
}

/* Hero section */
.hero {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items:end;
    text-align: center;
    z-index: 1; /* Make sure content is above the video */
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(to right,#72d9ff, #766fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 100px #5f9cff ;
    text-shadow: 0 0 50px #5f72ff ;
}   
.hero-content h1:hover{
    letter-spacing: 10;
}
.hero-content p {
    font-size: 18px;
    margin: 20px 0 70px;
    color: #d6f5ff;
}
.cta-button {
    width: 170px;
    display: inline-block;
    padding: 15px ;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    width: 240px;
    transition: all 0.3s ease;

}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container2{
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    margin-bottom: 50px;
    width: 60%;
    display: flex;
    border-radius: 10px;
    padding: 20px 0;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.742);
    border: 2px solid rgba(255, 255, 255, 0.2);
}
#grad1{
    background: rgb(34,0,36);
    background: linear-gradient(90deg, rgba(34,0,36,0.16) 0%, rgba(9,9,121,0.15) 48%, rgba(0,212,255,0.15) 100%);
}
#grad2{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.15) 0%, rgba(253,29,29,0.15) 50%, rgba(252,176,69,0.15) 100%);
}
.biju{
    width: 200px;
    margin: 20px;
    justify-self: left;
    border-radius: 10px;
}
.name-desc{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.name{
    font-size: 30px;
    color: white;
    align-self: top; 
    margin-top:20px; 
    margin-bottom: 20px
}
.desc{
    color: white;
}